* {
  box-sizing: border-box;
  margin: 0;
}

*,
*::before,
*::after {
  border-style: solid;
  border-width: 0;
}

html,
body {
  margin: 0;
  color: var(--color-primary);
  background: var(--color-secondary);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: var(--s1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: darken(var(--color-primary), 30%);
  line-height: var(--s4);
}

h1 {
  font-size: var(--s3);
  line-height: var(--s3);
}

h2 {
  font-size: var(--s2);
  line-height: var(--s2);
}

h3 {
  font-size: var(--s1);
  line-height: var(--s1);
}

h4 {
  font-size: var(--s0);
  line-height: var(--s0);
}

h5 {
  font-size: var(--s0);
  line-height: var(--s0);
}

h6 {
  font-size: var(--s0);
  line-height: var(--s0);
}

strong {
  color: darken(var(--color-primary), 30%);
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

p + p {
  margin-top: var(--s1);
}

img {
  max-width: 100%;
}
